* {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	/*overflow: hidden;*/
	width: 1524px;
	/*text-align: center;*/
}


/*--------------------导航栏------------------------------*/

#login {
	height: 50px;
	background-color: #f9f9f9;
}

#login .nav_l {
	float: left;
	margin-top: 13px;
	position: relative;
}

#login .nav_l li {
	float: left;
	position: relative;
}

#login .nav_l li>a {
	padding: 0 10px;
}

#login li:hover>a {
	color: red;
}

#login .nav_l .li1::before {
	display: none;
}

#login .nav_l li::before {
	content: '';
	width: 1px;
	height: 12px;
	display: block;
	position: absolute;
	top: 6px;
	left: 0;
	background: #d3d3d3;
}

#login .s-dropdown {
	height: 50px;
	margin-top: -13px;
	padding: 0 10px
}

#login .nav_r .s-dropdown {
	padding: 0 10px
}

#login .hover {
	color: red;
	background: white;
}

#login .nav_l .s-dropdown {
	position: relative;
}

#login .s-dropdown .t {
	padding-top: 13px;
}

#login .nav_l .s-dropdown .d .dropdown-more {
	display: none;
	background-color: white;
	margin-top: 15px;
	width: 119px;
	position: absolute;
	left: -18px;
	border-radius: 0 0 5px 5px;
	z-index: 200;
	/*display: none;*/
}

#login .nav_l .s-dropdown .d .dropdown-more a {
	margin-top: 5px;
	display: block;
	text-align: center;
	margin-bottom: 10px
}

#login .nav_r {
	float: right;
	position: relative;
}

#login .nav_r li {
	float: left;
}

#login .nav_r li>a {
	padding: 0 13px
}

#login .nav_r .li1:before {
	opacity: 0;
}

#login .nav_r .li6:before {
	opacity: 0;
}

#login .nav_r li:before {
	content: '';
	width: 1px;
	height: 12px;
	display: block;
	position: relative;
	top: 19px;
	left: -3px;
	background: #d3d3d3;
}
#login .nav_r .iconfont{
	margin-right: 5px;
}

#login .nav_r .s-dropdown .d .dropdown-more {
	display: none;
	background-color: white;
	text-align: center;
	margin-top: 15px;
	padding: 6px 0 12px 0;
	border-radius: 0 0 10px 10px;
	line-height: 32px;
	position: relative;
	left: 13px;
	margin-left: -13px;
	z-index: 200;
}

#login .nav_r .s-dropdown .d .dropdown-more a {
	display: block;
	margin-top: 5px;
}

#login .nav_r .s-dropdown .d .dropdown-navs {
	display: none;
	width: 893px;
	height: 160px;
	background-color: white;
	position: absolute;
	top: 50px;
	left: -471px;
	border-radius: 0 0 10px 10px;
	z-index: 200;
}

#login .nav_r .s-dropdown .d .dropdown-navs .dropdown-navs-icon {
	float: left;
	width: 50px;
	margin: 37px 46px 0 49px;
	text-align: center;
}

#login .nav_r .s-dropdown .d .dropdown-navs .dropdown-navs-icon span {
	display: block;
	width: 50px;
	height: 50px;
	background-image: url(../images/icon5.png);
	background-position: -41px 0px;
}

#login .nav_r .s-dropdown .d .dropdown-navs dl {
	float: left;
	width: 185px;
	margin-top: 22px;
	margin-bottom: 20px;
}

#login .nav_r .s-dropdown .d .dropdown-navs dl dt {
	font-size: 16px;
	color: #333;
	font-weight: bold;
	margin-bottom: 8px;
}

#login .nav_r .s-dropdown .d .dropdown-navs dl a {
	float: left;
	width: 80px;
	margin-bottom: 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#login .nav_r .s-dropdown .d .dropdown-code {
	display: none;
	width: 244px;
	position: absolute;
	right: 107px;
	margin-top: 15px;
	background-color: white;
	border-radius: 0 0 10px 10px;
	padding: 20px 0;
	z-index: 200;
}

#login .nav_r .s-dropdown .d .dropdown-code .dropdown-code-detail {
	width: 244px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid black;
}

#login .nav_r .s-dropdown .d .dropdown-code .dropdown-code-detail:last-of-type {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}

#login .nav_r .s-dropdown .d .dropdown-code img {
	float: left;
	width: 90px;
	height: 90px;
	margin-right: 20px;
	margin-left: 20px;
}

#login .nav_r .s-dropdown .d .dropdown-code .code-info {
	float: left;
	line-height: 18px;
}

#login .nav_r .s-dropdown .d .dropdown-code .code-info h2 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 2px;
}

#login .nav_r .s-dropdown .d .dropdown-code .code-info p {
	color: #cb242b;
	line-height: 16px;
	font-size: 12px;
}

#login .nav_r .s-dropdown .d .dropdown-code .code-info span {
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	margin-top: 7px;
}

#login .nav_r .s-dropdown .d .dropdown-code .code-info .icon-andrid {
	background: url(../images/icon5.png);
	background-position: -484px 0;
}

#login .nav_r .s-dropdown .d .dropdown-code .code-info .icon-wechat {
	background: url(../images/icon5.png);
	background-position: -518px 0;
}

#login .nav_r .s-dropdown .d .dropdown-minicart {
	display: none;
	position: absolute;
	right: 0;
	top: 50px;
	width: 460px;
	background-color: white;
	border-radius: 0 0 10px 10px;
	text-align: center;
	z-index: 200;
}

#login .nav_r .s-dropdown .d .dropdown-minicart span {
	display: block;
	width: 100px;
	height: 100px;
	background: url(../images/icon5.png);
	background-position: 0 -166px;
	margin: 0 auto;
	margin-bottom: 16px;
	margin-top: 20px;
}

#login .nav_r .s-dropdown .d .dropdown-minicart p {
	font-size: 14px;
	color: #a4a4a4;
}

#login .nav_r .s-dropdown .d .dropdown-minicart a {
	width: 148px;
	height: 38px;
	line-height: 38px;
	display: block;
	margin: 0 auto;
	border-radius: 2px;
	border: 1px solid #a4a4a4;
	color: #3a3a3a;
	margin-top: 20px;
	margin-bottom: 20px;
}

#login .nav_r .s-dropdown .d .dropdown-minicart a:hover {
	border-color: #ca141d;
	color: #ca141d;
}


/*--------------------导航栏结束------------------------------*/


/*--------------------导航栏二开始----------------------------*/

#search {
	height: 93px;
	/*min-width: 1200px;
	height: 41px;
	padding: 18px 0 15px 0;
	background: #fff;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	line-height: 1.5;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.04);*/
}

#search .layout {
	padding-top: 18px;
	position: relative;
}

#search .layout .left {
	display: inline-block;
	float: left;
}


/*#search .logo{
	width: 300px;
	height: 45px;
}*/

#search .layout .left .logo {
	float: left;
}

#search .logo a {
	float: left;
}

#search .logo em {
	width: 1px;
	height: 28px;
	background: #030000;
	float: left;
	margin: 0 11px;
	margin-top: 16px;
}

#search .logo img {
	width: 155px;
	height: 54px;
}

#search .layout .left .nav {
	float: left;
	height: 54px;
	margin-top: 14px;
	margin-left: 20px;
}

#search .layout .left .nav ul li{
	float: left;
}
#search .layout .left .nav ul>li>a {
	margin-right: 30px;
	font-size: 20px;
	color: black;
	display: inline-block;
	height: 55px;
}

#search .layout .left .nav ul>a:hover {
	color: red;
}

#search .layout .rigth {
	float: right;
	position: relative;
}

#search .layout .rigth .search-bar-form {
	margin-top: 15px;
	line-height: 1;
	width: 320px;
	height: 30px;
	background: #f0f0f0;
	border-radius: 15px;
	position: relative;
}
#search .search-bar-form .menu{
	width: 316px;
	position: absolute;
	left: 4px;
	top:37px;
	color:black;
	font-size: 15px;
	z-index: 5;
	background-color: #fff;
	border-radius: 5px;
	box-shadow:2px 2px 2px   black;


}
#search .search-bar-form .menu li{
	margin-top: 10px;
	margin-left: 5px;
}
#search .layout .rigth .search-bar-key{
	position: absolute;
    max-width: 260px;
    right: 47px;
    bottom: 6px;
    white-space: nowrap;
    overflow: hidden;
}
#search .layout .rigth .search-bar-key a{
	margin-right: 9px;
}
#search .layout .rigth .text {
	border: 0;
	color: #3a3a3a;
	width: 285px;
	text-indent: 15px;
	height: 30px;
	line-height: 30px;
	background: transparent;
	float: left;
}
#search .layout .rigth i{
	position: absolute;
	display: inline-block;
	margin-top: 8px;
}
#search .layout .rigth .button{
	width: 35px;
    height: 30px;
    cursor: pointer;
    border: 0;
    overflow: hidden;
    position: absolute;
    background: transparent;
    padding-right: 10px;
    right: 0;
    top: 0;
    color: #353535;
    font-size: 20px;
}
/* #search .layout .left .nav-sub{
	display: none;
	z-index: 10;
    position: absolute;
    left: 0;
    top: 70px;
    min-width: 100%;
    overflow: hidden;
    border-top: 1px solid #ebebeb;
    background: #fff;
    -webkit-box-shadow: 0 3px 3px 0 rgba(121,121,121,0.26);
    -moz-box-shadow: 0 3px 3px 0 rgba(121,121,121,0.26);
    box-shadow: 0 3px 3px 0 rgba(121,121,121,0.26);
} */
#search .left .nav .naver-sub-wrap{
	display: none;
	position: absolute;
	width: 1524px;
	margin: 0 auto;
	top: 84px;
	left: 0;
	background-color: #fff;
	z-index: 10;
}
.nav .naver-sub-wrap .p-title{
	width: 1176px;
    font-size: 14px;
    line-height: 30px;
    padding: 5px 200px 0 0;
}
.nav .naver-sub-wrap .p-title .f1{
	float: left;
}
.nav .naver-sub-wrap .p-title .a1{
	max-width: 200px;
    margin-right: 3px;
}
.p-title a{
	font-size: 16px;
}
.nav .naver-sub-wrap .p-title .a1 i{
	margin-left: 25px;
}
.nav .naver-sub-wrap .p-title .a1 a{
    color: #3a3a3a;
}
.nav .naver-sub-wrap .p-title .a2 a{
	padding: 0 15px;
    color: #717171;
}
.nav .naver-sub-wrap .grid-items{
	margin: 0;
    width: 190px;
    height: 236px;
    margin-right: 32px;
    margin-left: 32px;
    float: left;
}
.nav .naver-sub-wrap .grid-items .thumb{
	display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.nav .naver-sub-wrap .grid-items .thumb p:last-of-type{
	color: red;
}
.nav .naver-sub-wrap .grid-items img{
	width: 130px;
    height: 130px;
    margin: 25px auto 0;
}
/*--------------------导航栏二结束----------------------------*/

#banner {
	overflow: hidden;
	height: 500px;
	text-align: center;
}


/*-----------------------手机精品开始----------------------------*/

#supremacy {
	height: 776px;
	background-color: white;
}

.jp_t {
	padding-top: 60px;
	margin-bottom: 22px;
	position: relative;
	text-align: center;
}

.jp_t .red {
	width: 30px;
	height: 5px;
	background-color: #990000;
	margin: 0 auto;
	margin-bottom: 13px;
}

.jp_t h3 {
	font-size: 36px;
	color: #3a3a3a;
	margin-bottom: 24px;
	cursor: pointer;
}

.jp_b .grid-list .grid-items-ad {
	width: 374px;
	height: 348px;
	position: relative;
	margin-left: -1px;
	margin-bottom: 25px;
	padding-top: 1px;
	z-index: 5;
	border: 1px solid #eaeaea;
	float: left;
}

.jp_b .grid-list .grid-items-ad img {
	width: 100%;
	height: 100%;
}

.jp_b .grid-list-second .grid-items-second {
	margin-left: 25px;
	width: 483px;
	height: 238px;
	float: left;
	position: relative;
}

.jp_b .grid-list-second .grid-items-second:first-child {
	margin-left: 0;
}

.jp_b .grid-list-second .grid-items-second>a {
	color: white;
}

.jp_b .grid-list-second .grid-items-second>a:hover .grid-info {
	background: #ab3131;
	opacity: 0.9;
}

.jp_b .grid-list-second .grid-items-second .grid-title {
	font-size: 18px;
	line-height: 20px;
	max-height: 40px;
	padding-bottom: 2px;
}

.jp_b .grid-list-second .grid-items-second .grid-desc {
	line-height: 30px;
}

.jp_b .grid-list-second .grid-items-second .grid-info .grid-price {
	font-size: 14px;
	line-height: 32px;
	margin-top: 20px;
}

.jp_b .grid-list-second .grid-items-second .grid-info .grid-price:before {
	content: "";
	width: 24px;
	height: 2px;
	display: block;
	background: #fff;
}

.jp_b .grid-list-second .grid-items-second>a>.grid-price {
	width: 100%;
	height: 100%;
}

.jp_b .grid-list-second .grid-items-second img {
	width: 100%;
	height: 100%;
}

.jp_b .grid-list-second .grid-items-second .grid-info {
	width: 208px;
	height: 208px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: auto;
	left: auto;
	background: #999;
	background: rgba(0, 0, 0, 0.4);
	display: block;
	text-align: left;
	z-index: 10;
	padding: 30px 10px 0 16px;
}


/*-----------------------手机精品结束----------------------------*/


/*-----------------------phone开始-------------------------*/

#iphone {
	height: 945px;
	padding-top: 75px;
}

.phone_t {
	margin-bottom: 22px;
	position: relative;
	text-align: center;
}

.phone_t .red {
	width: 30px;
	height: 5px;
	background-color: #990000;
	margin: 0 auto;
	margin-bottom: 13px;
}

.phone_t h3 {
	font-size: 36px;
	color: #3a3a3a;
	margin-bottom: 24px;
	cursor: pointer;
}

.phone_t a {
	color: #717171;
	margin: 0 25px;
	line-height: 35px;
	text-decoration: none;
	font-size: 17px;
}

.phone_t a:last-of-type {
	position: absolute;
	display: inline-block;
	width: 83px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #b2b2b2;
	right: 0;
}

.phone_t a:last-of-type i {
	display: block;
	width: 0px;
	height: 0px;
	border: 7px solid #b2b2b2;
	border-color: transparent #b2b2b2 transparent #b2b2b2;
	border-right: 0;
	position: absolute;
	top: 11px;
	right: 10px;
}

.phone_t a:hover {
	color: #990000;
	border-color: #990000;
}

.phone_t a:hover i {
	border-left-color: #990000;
}

.phone_b ul>li {
	float: left;
}

.phone_b .grid-items-third {
	position: relative;
	margin-bottom: 15px;
	margin-left: 15px;
	width: 364px;
	height: 362px;
}

.phone_b .grid-items-third img {
	width: 100%;
	height: 100%;
}

.phone_b .grid-items-ad-363 {
	width: 363px;
	height: 740px;
}

.phone_b .grid-items-ad-363 img {
	width: 100%;
	height: 100%;
}

.phone_b .grid-items-third-743 {
	width: 743px;
	height: 362px;
}

.phone_b .grid-items-third-743 img {
	width: 100%;
	height: 100%;
}

.phone_b .grid-items-third .grid-info {
	position: absolute;
	top: 18px;
	right: auto;
	bottom: auto;
	left: 31px;
	z-index: 10;
	text-align: left;
	padding-right: 10px;
	width: auto;
}

.phone_b .grid-items-third .grid-title {
	font-size: 18px;
	line-height: 20px;
	color: #000;
	padding-bottom: 2px;
	width: 100%;
	display: block;
	padding: 0;
	margin: 0;
	height: auto;
}

.phone_b .grid-items-third .grid-title:before {
	content: "";
	width: 30px;
	height: 3px;
	display: block;
	background: #900;
	margin-bottom: 17px;
}

.phone_b .grid-items-third p {
	font-size: 18px;
	margin-top: 10px;
	line-height: 34px;
	color: #900
}

.phone_b .grid-items-third .grid-info-white * {
	color: white;
}


/*------------------------------phone结束----------------------*/


/* ----------------------------computer部分------------------------------------------- */

#computer {
	height: 1062px;
	padding-top: 75px;
}

.computer-top {
	margin-bottom: 22px;
	position: relative;
	text-align: center;
}

.computer-top .small {
	width: 30px;
	height: 5px;
	background-color: #990000;
	margin: 0 auto;
	margin-bottom: 13px;
}

.computer-top h3 {
	font-size: 36px;
	color: #3a3a3a;
	margin-bottom: 24px;
	cursor: pointer;
}

.computer-top h3:hover {
	color: #990000;
}

.computer-top a {
	color: #717171;
	margin: 0 25px;
	line-height: 35px;
	text-decoration: none;
	font-size: 17px;
}

.computer-top a:last-of-type {
	position: absolute;
	display: inline-block;
	width: 83px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #b2b2b2;
	right: 197px;
}

.computer-top a:last-of-type i {
	display: block;
	width: 0px;
	height: 0px;
	border: 7px solid #b2b2b2;
	border-color: transparent #b2b2b2 transparent #b2b2b2;
	border-right: 0;
	position: absolute;
	top: 11px;
	right: 10px;
}

.computer-top a:hover {
	color: #990000;
	border-color: #990000;
}

.computer-top a:hover i {
	border-left-color: #990000;
}

.computer-left {
	float: left;
	margin-left: 10px;
}

.computer-right {
	float: left;
}

.computer-right ul a {
	border: 1px solid #cccccc;
	display: inline-block;
	width: 500px;
	height: 542px;
}

.computer-right .X-pro {
	position: relative;
	color: #fff;
}

.computer-right .matebook {
	position: absolute;
	width: 425px;
	height: 267px;
	top: -359px;
	right: 0;
	padding-left: 75px;
	padding-top: 104px;
	background: rgba(0, 0, 0, 0.5);
}

.matebook h4 {
	font-size: 24px;
	margin-bottom: 23px;
}

.matebook p {
	font-size: 18px;
}

.matebook .small {
	width: 30px;
	height: 3px;
	background-color: #fff;
	margin: 37px 0 25px 0;
}

.X-pro:hover .matebook {
	background: #a92f2f;
}


/*---------------------------------------- watch部分 ---------------------------------------------------*/

#watch {
	height: 870px;
	
}

#watch .title {
	width: 30px;
	height: 2px;
	background-color: #990000;
	margin: 23px 0 22px 0;
}

.watch-top {
	margin-bottom: 22px;
	position: relative;
	text-align: center;
}

.watch-top .small {
	width: 30px;
	height: 5px;
	background-color: #990000;
	margin: 0 auto;
	margin-top: 75px;
	margin-bottom: 13px;
}

.watch-top h3 {
	font-size: 36px;
	color: #3a3a3a;
	margin-bottom: 24px;
	cursor: pointer;
}

.watch-top h3:hover {
	color: #990000;
}

.watch-top a {
	color: #717171;
	margin: 0 25px;
	line-height: 35px;
	text-decoration: none;
	font-size: 17px;
}

.watch-top a:last-of-type {
	position: absolute;
	display: inline-block;
	width: 83px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #b2b2b2;
	right: 197px;
}

.watch-top a:last-of-type i {
	display: block;
	width: 0px;
	height: 0px;
	border: 7px solid #b2b2b2;
	border-color: transparent #b2b2b2 transparent #b2b2b2;
	border-right: 0;
	position: absolute;
	top: 11px;
	right: 10px;
}

.watch-top a:hover {
	color: #990000;
	border-color: #990000;
}

.watch-top a:hover i {
	border-left-color: #990000;
}

.watch-left {
	float: left;
	margin-right: 15px;
	margin-left: 12px;
}

.watch-left img {
	width: 364px;
	height: 724px;
}

.watch-middle {
	float: left;
}

.watch-middle .child {
	display: block;
	width: 743px;
	height: 362px;
	position: relative;
}

.watch-middle ul:first-of-type {
	position: relative;
	margin-bottom: 15px;
}

.watch-middle .mess {
	position: absolute;
	top: 0;
	left: 39px;
}

.watch-middle .mess h4 {
	font-size: 22px;
	color: #000;
	margin-bottom: 28px;
}

.watch-middle .mess span {
	float: left;
	color: #990000;
}

.watch-middle i {
	display: block;
	width: 48px;
	height: 48px;
	background: url(../images/img29.png)no-repeat;
	position: absolute;
	right: 28px;
	bottom: 28px;
}

.watch-middle .img37 {
	display: inline-block;
	width: 364px;
	height: 346px;
	margin-right: 10px;
	position: relative;
}

.img37 .mess {
	position: absolute;
	top: 0;
	left: 39px;
}

.img37 .mess h4 {
	font-size: 22px;
	color: #000;
	margin-bottom: 28px;
}

.img37 .mess span {
	float: left;
	color: #990000;
}

.watch-middle .img36 {
	display: inline-block;
	width: 364px;
	height: 346px;
	position: relative;
}

.img36 .mess {
	position: absolute;
	top: 0;
	left: 39px;
}

.img36 .mess h4 {
	font-size: 22px;
	color: #fff;
	margin-bottom: 28px;
}

.img36 .mess span {
	float: left;
	color: #fff;
}

.watch-right {
	float: right;
	margin-right: 10px;
}

.watch-right .img40 {
	display: block;
	width: 364px;
}

.watch-right ul:first-of-type {
	position: relative;
}

.watch-right ul:first-of-type .mess {
	position: absolute;
	top: 0;
	left: 39px;
}

.watch-right ul:first-of-type .mess h4 {
	font-size: 22px;
	color: #fff;
	margin-bottom: 28px;
}

.watch-right ul:first-of-type .mess span {
	float: left;
	color: #fff;
}

.watch-right ul:first-of-type i {
	display: block;
	width: 48px;
	height: 48px;
	background: url(../images/img27.png)no-repeat;
	position: absolute;
	right: 28px;
	bottom: 28px;
}

.watch-right ul:last-of-type {
	margin-top: 11px;
	position: relative;
}

.watch-right ul:last-of-type .mess {
	position: absolute;
	top: 0;
	left: 39px;
}

.watch-right ul:last-of-type .mess h4 {
	font-size: 22px;
	color: #000000;
	margin-bottom: 28px;
}

.watch-right ul:last-of-type .mess span {
	float: left;
	color: #990000;
}


/*-------------------------------------------- Watch结束---------------------------------------------- */

#home {
	height: 946px;
	background-color: #ffffff;
	text-align: center;
}

#home .small {
	width: 30px;
	height: 5px;
	background-color: #990000;
	margin: 0 auto;
	margin-top: 75px;
}

#home .smartHome {
	margin-top: 12px;
	font-size: 36px;
	color: #3a3a3a;
}

#home .wifi {
	margin-top: 25px;
	margin-left: 128px;
}

#home .wifi li {
	margin-right: 30px;
	float: left;
	list-style: none;
}

#home .wifi li a {
	font-size: 17px;
	color: #717171;
}

#home .more a {
	display: inline-block;
	font-size: 14px;
	width: 83px;
	height: 35px;
	color: #3a3a3a;
	border: 1px solid #b2b2b2;
	text-align: center;
	line-height: 35px;
	margin-right: 23px;
	margin-top: -5px;
	text-decoration: none;
}

#home .smartshow {
	margin-top: 34px;
	margin-left: 120px;
	position: relative;
}

#home .smartshow img {
	float: left;
	margin-right: 16px;
	margin-bottom: 16px;
}

#home .smartshow .new {
	position: absolute;
	bottom: -285px;
	left: 826px;
}

#show01 {
	width: 1350px;
	height: 320px;
	margin: 0 auto;
	margin-top: 15px;
	overflow: hidden;
	position: relative;
	border-right: #eaeaea 1px solid;
}
#show01 .swiper-button-next{
	background-image: none;
	font-size: 24px;
}
#show01 .swiper-button-prev{
	background-image: none;
	font-size: 24px;
}

#show01 .show01-a {
	width: 1500px;
	height: 320px;
}
#show01 .show01-a .red {
	background: #990000;
}

#show01 .show01-a li {
	float: left;
	width: 268px;
	height: 318px;
	list-style: none;
	border: #eaeaea 1px solid;
}

#show01 .show01-a li img {
	width: 150px;
	height: 150px;
	margin-left: 58px;
	margin-top: 20px;
}

#show01 .show01-a p {
	text-align: center;
	margin-top: 10px;
}

#show01 .show01-a span {
	text-align: center;
	display: block;
}

#show01 .show01-a i {
	text-align: center;
	color: #990000;
	display: block;
	margin-top: 20px;
}

#parts {
	height: 945px;
	text-align: center;
}

#parts .parts-small {
	width: 30px;
	height: 5px;
	background-color: #990000;
	margin: 0 auto;
	margin-top: 75px;
}

#parts .partsHot {
	margin-top: 12px;
	font-size: 36px;
	color: #3a3a3a;
}

#parts .product {
	margin-top: 25px;
	margin-left: 128px;
}

#parts .product li {
	margin-right: 30px;
	float: left;
	list-style: none;
}

#parts .product li a {
	font-size: 17px;
	color: #717171;
}

#parts .parts-more a {
	display: inline-block;
	font-size: 14px;
	width: 83px;
	height: 35px;
	color: #3a3a3a;
	border: 1px solid #b2b2b2;
	text-align: center;
	line-height: 35px;
	margin-right: 23px;
	margin-top: -5px;
	text-decoration: none;
}

#parts .parts-show {
	margin-top: 34px;
	margin-left: 120px;
	position: relative;
}

#parts .parts-show img {
	float: left;
	margin-right: 16px;
	margin-bottom: 16px;
}

#parts .parts-show .new-a {
	position: absolute;
	left: 842px;
	bottom: -290px;
}

#parts .parts-show .new-b {
	position: absolute;
	left: 1147px;
	bottom: -295px;
}

#parts .parts-show .new-c {
	position: absolute;
	left: 533px;
	bottom: -598px;
}

#parts .parts-show .new-d {
	position: absolute;
	left: 842px;
	bottom: -598px;
}

#show02 {
	width: 1350px;
	height: 320px;
	margin: 0 auto;
	margin-top: 15px;
	overflow: hidden;
	position: relative;
	border-right: #eaeaea 1px solid;
}
#show02 .swiper-button-next{
	background-image: none;
	font-size: 24px;
}
#show02 .swiper-button-prev{
	background-image: none;
	font-size: 24px;
}
#show02 .show02-a {
	width: 1500px;
	height: 320px;
}

#show02 .show02-a .red {
	background: #990000;
}

#show02 .show02-a li {
	float: left;
	width: 268px;
	height: 318px;
	list-style: none;
	border: #eaeaea 1px solid;
}

#show02 .show02-a li img {
	width: 150px;
	height: 150px;
	margin-left: 58px;
	margin-top: 20px;
}

#show02 .show02-a p {
	text-align: center;
	margin-top: 10px;
}

#show02 .show02-a span {
	text-align: center;
	display: block;
}

#show02 .show02-a i {
	text-align: center;
	color: #990000;
	display: block;
	margin-top: 20px;
}


/* -------------------------------------------------------------footer部分--------------------------------------------------------------------------------------- */

#footer {
	margin-top: 75px;
	height: 520px;
	background-color: #f9f9f9;

	padding: 0 20px;
	width: 1484px;
}
#footer .f-top ul{
	display: flex;
	justify-content:space-between;
	line-height: 103px;
}
#footer li{
	float: left;	

}

#footer ul {
	display: flex;
	justify-content: space-around;
	line-height: 103px;
}

#footer li {
	float: left;

}

.f-top {
	height: 103px;
	border-bottom: 1px solid #e5e5e5;
}

.f-top ul li a{
	color: #3a3a3a;
	font-size: 20px;
}
.f-top ul .icon{
	display: inline-block;
	width: 46px;
	height: 46px;
	position: relative;
	top: 18px;
	margin-right: 19px;
}
.f-top .icon01{
	background: url(../images/icon4.png)no-repeat  0 -151px;	
}
.f-top .icon02{
    background: url(../images/icon4.png)no-repeat  -47px -151px;
}
.f-top .icon03{
    background: url(../images/icon4.png)no-repeat  -94px -151px;
}
.f-top .icon04{
    background: url(../images/icon4.png)no-repeat  -141px -151px;
}


.f-middle{
	height:261px;
	border-bottom: 1px solid #e5e5e5;


}
.f-item{
	width: 1150px;
	float: left;
	padding-top: 49px;
}
.f-item dl{
	float: left;
	margin-right: 83px;
}
.f-item dl dt{
	margin-bottom: 14px;
	font-size: 18px;
	color: #333333;
}
.f-item dl dd a{
	line-height: 27px;
	font-size: 14px;
	color: #777777;

}
.f-item dl dd a:hover{
	color: #990000;
}

.f-item .carousel{
	position: relative;
}
.f-item .carousel .carousel-box{

	width: 150px;
    overflow: hidden;
}


.f-item .carousel-box .icon-youjiantou{
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	top: 4px;
	right: 15px;
	cursor: pointer;
} 
.f-item .carousel-box .icon-zuojiantou{
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	font-size: 18px;
	top: 2px;
	right: 30px;
	cursor: pointer;
}
.f-serve{
	float: left;
	height:200px;
	margin-top: 29px;
	padding-left: 42px;
	border-left:1px solid #e5e5e5;
	text-align: center;
	position: relative;
}
.f-serve h2{
	color: #cb242b;
	margin-bottom: 16px;
}
.f-serve .p1{
	color: #333333;
	margin-bottom: 20px;
}
.f-serve .kefu{
	display: block;
	margin:0 0 36px 18px;
	width: 192px;
	height: 42px;
	border: 1px solid #cb242b;
	border-radius: 8px;
	line-height: 42px;
	font-size: 18px;
	color: #cb242b;
	position: relative;
	padding-left: 20px;

}
.f-serve i{
	display: block;
    position: absolute;
	width: 14px;
	height: 15px;
	top: 15px;
    left: 50px;
	background: url(../images/icon5.png)no-repeat -336px -213px;
}
.f-serve .kefu:hover{
    background: rgba(225, 225, 225, 0.5)
}
.f-serve .p2{
	float: left;
}
.f-serve .p2 a{
	display: inline-block;
	margin: 0 9px;
}
.f-serve .ewm{
	position: absolute;
	bottom: -140px;
	left: 92px;
	display: none;
}
.f-serve .vx{
	width: 20px;
	height: 16px;
	background: url(../images/icon5.png)no-repeat -333px -175px;
}
.f-serve .vx:hover{
	background: url(../images/icon5.png)no-repeat -357px -175px;
}
.f-serve .vx:hover .ewm{
	display: none;
}

.f-serve .td{
	width: 18px;
	height: 18px;
	background: url(../images/icon5.png)no-repeat -382px -174px;
}
.f-serve .td:hover{
	background: url(../images/icon5.png)no-repeat -406px -174px;
}
.f-serve .vb{
	width: 20px;
	height: 16px;
	background: url(../images/icon5.png)no-repeat -429px -176px;
}
.f-serve .vb:hover{
	background: url(../images/icon5.png)no-repeat -453px -176px;
}
.f-serve .hw{
	width: 20px;
	height: 14px;
	background: url(../images/icon5.png)no-repeat -477px -177px;
}
.f-serve .hw:hover{
	background: url(../images/icon5.png)no-repeat -501px -177px;
}
.f-bottom{
	height: 121px;
    padding-top: 33px;
}
.f-logo{
	float: left;
	background: url(../images/img77.png)no-repeat;	
	margin-right: 28px;
}
.f-logo a{
	display: block;
	width: 164px;
	height: 40px;
	text-indent: -9999px;
}
.f-main {float: left;}
.f-main a{
	color: #777777;
}
.f-nav a::after{
	content: "";
	display: inline-block;
	width: 1px;
	height: 15px;
	background: #d3d3d3;
	position: relative;
	margin: 0 9px;
	top: 3px;	
}
.f-nav a:last-child::after{
	display: none;
}
.f-main p:last-child a:nth-child(2)::after{
	content: "";
	display: inline-block;
	width: 2px;
	height: 15px;
	background: #d3d3d3;
	position: relative;
	margin: 0 5px;
	top: 3px;	
}
.f-main i{
	font-size: 13px;
}
.f-img{
	float: right;
}
.f-img a:last-child{
	margin-left: 21px;
}
.f-bottom a:hover{
	color: #990000;
}
/* ----------------------------------------footer结束------------------------------------------- */




